/node_modules
.env
npm-debug.log
Dockerfile
README.md
.dockerignore
.gitignore
.cache
.eslintignore
.eslintrc
.prettierignore
.prettierrc
coverage/
test/
docker-compose.yml
.pm2
.vscode
/dist
/docs
/.husky
